<!-- 출퇴근기록부(개인별) -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>kuntae</title>
		<th:block th:include="layout/customHead"></th:block>
	<!-- FullCalendar -->
	<link href="/vendors/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
	<link href="/vendors/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print">
		
	
	</th:block>
	<th:block layout:fragment="customBody">
<!-- 	<script>
	$(document).ready(function(){
		console.log('출,퇴근(개인별) 리스트 출력')
	    $('#btn_list').on('click',function(){
	        $.ajax({
	            url:'/kuntae/recordSingleView',
	            type:'GET',
	            dataType:'json',
	            contentType:'application/json',
	            success:(data)=>{
	            	console.log(data);
	                $('#list').empty();
	                $(data).each(function(index,item){ //each = foreach (반복문)
	                    $('#list').append('<tr>');
	                    $('#list').append('<td>'+item.kor_NM+'</td>');
	                    $('#list').append('<td>'+item.emp_CD+'</td>');
	                    $('#list').append('<td>'+item.work_DT+'</td>');
	                    $('#list').append('<td>'+item.start_TIME+'</td>'); 
	                    $('#list').append('<td>'+item.end_TIME+'</td>');
	                    $('#list').append('</tr>');
	                    
	                }); 
	                            
	            }
	        });
	    });
		
</script> -->
	          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>근태관리 <small><a href="/kuntae/recordTotal">출퇴근기록부(개인별)</a></small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            
	
<div class="clearfix"></div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<form>
				<table class="table">
					<tbody>

						<tr>
							<th>년월</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input type="date" name="">
								</div>
							</td>
							
							<th>부서</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input type="text" class="form-control">
								</div>
							</td>
							
						</tr>

						<tr>
							<th>사원번호</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input type="text" class="form-control">
									
                   						<button id="btn_list" type="button"><i class="fa fa-search"></i></button>
									
								</div>
							</td>
                   						
							<th>이름</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input type="text" class="form-control">
								</div>
							</td>
						</tr>
					
					</tbody>
				</table>
				
				</form>
				</div>
				</div>
				
				
		<div class="col-md-12 col-sm-6 col-xs-12" style="width:100%">
                <div class="x_panel">
                  <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
					<div style="overflow:scroll; width:100%; height:650px; padding:10px; background-color:;">
						<table class="table">
									<thead>
					
										<tr>
											<th rowspan="2">직급</th>
											<th rowspan="2">성명</th>
											<th rowspan="2">년월</th>
											<th rowspan="2">구분</th>
											<th colspan="1">연차</th>
											<th colspan="1">PJT</th>
											<th colspan="2">1</th>
											<th colspan="2">2</th>
											<th colspan="2">3</th>
											<th colspan="2">4</th>
											<th colspan="2">5</th>
											<th colspan="2">6</th>
											<th colspan="2">7</th>
											<th colspan="2">8</th>
											<th colspan="2">9</th>
											<th colspan="2">10</th>
											<th colspan="2">11</th>
											<th rowspan="2">12</th>
											<th rowspan="2">13</th>
											<th rowspan="2">14</th>
											<th rowspan="2">15</th>
											<th rowspan="2">16</th>
											<th rowspan="2">17</th>
											<th rowspan="2">18</th>
											<th rowspan="2">19</th>
											<th rowspan="2">20</th>
											<th rowspan="2">21</th>
											<th rowspan="2">22</th>
											<th rowspan="2">23</th>
											<th rowspan="2">24</th>
											<th rowspan="2">25</th>
											<th rowspan="2">26</th>
											<th rowspan="2">27</th>
											<th rowspan="2">28</th>
											<th rowspan="2">29</th>
											<th rowspan="2">30</th>
											<th rowspan="2">31</th>																
										</tr>
										<tr>
											<th>휴가</th>
											<th>지각</th>	
											<!-- 1 -->
											<th>출근</th>
											<th>퇴근</th>
											<!-- 2 -->
											<th>출근</th>
											<th>퇴근</th>
											<!-- 3 -->
											<th>출근</th>
											<th>퇴근</th>	
											<!-- 4 -->
											<th>출근</th>
											<th>퇴근</th>	
											<!-- 5 -->
											<th>출근</th>
											<th>퇴근</th>	
											<!-- 6 -->
											<th>출근</th>
											<th>퇴근</th>	
											<!-- 7 -->
											<th>출근</th>
											<th>퇴근</th>
											<!-- 8 -->
											<th>출근</th>
											<th>퇴근</th>	
											<!-- 9 -->
											<th>출근</th>
											<th>퇴근</th>	
											<!-- 10 -->
											<th>출근</th>
											<th>퇴근</th>	
											<!-- 11 -->
											<th>출근</th>
											<th>퇴근</th>	
											
												
										</tr>
									</thead>
						
									<tbody>
										<tr th:each="s : ${singleList}">
											<td></td>
											<td th:text="${s.KOR_NM}"></td>
											<td th:text="${s.WORK_DT}"></td>
											<td></td>
											<td></td>
											<td></td>
											<td th:text="${s.START_TIME}"></td>
											<td th:text="${s.END_TIME}"></td>
											
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>									
										</tr>										
									</tbody>
						</table>
					</div>
					
<!-- 					<div class="x_content" style="overflow-x:auto">
                    <table class="table table-bordered">
                    	<thead>
                    	<tr>
                    		<th rowspan="2">성명</th>
                    		<th rowspan="2">년월</th>
                    		<th colspan="2">구분</th>
                    		<th colspan="2">변경(후)</th>
                    	</tr>
                    	<tr>
                    		<th>구분</th>
                    		<th>계약금액</th>
                    		<th>지분(%)</th>
                    		<th>계약금액</th>
                    	</tr>
                    	</thead>
                    	<tbody>
                    		<tr >
                    			<td rowspan="2">1</td>
                    			<td rowspan="2">현대건설(주)</td>
                    			<td colspan="1" >출근</td>
                    			<td colspan="1">1,000,000,000</td>
                    			<td>0.00</td>
                    			<td>1,000,000,000</td>
                    		</tr>
                    		<tr>
                    			<td>퇴근</td>
                    			<td>02</td>
                    			<td>03</td>
                    			<td>04</td>
                    		
                    		</tr>
                    	</tbody>
                    	<tbody>
                    	<tr >
	                    	<th colspan="2">합계</th>
	                    	<th scope="row">0.00</th>
	                    	<th scope="row">1,000,000,000</th>
	                    	<th scope="row">0.00</th>
	                    	<th scope="row">1,000,000,000</th>
                    	</tr>
                    </tbody></table>
                  </div> -->

                  </div>
                </div>
              </div>

	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
	</th:block>
</html>