<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>10.기준정보관리 - 부서코드등록</title>
		<th:block th:include="layout/customHead"></th:block>


		
	</th:block>
	<th:block layout:fragment="customBody">
		<div class="col-md-12 col-xs-12" style="color:black;">
			<div class="page-title">
				<div class="title_left">
					<h2><b>부서코드 등록</b></h2>
					<h5><fontcolor="gray"><b>10.기준정보 관리&nbsp;>&nbsp;&nbsp;10.2인력관리</b></font></h5>
				</div>
			</div>
		</div>
		<div class="x_content" style="text-align: right">
				<div class="btn-group" >
						<button class="btn btn-default" type="reset">입력</button>
						<button class="btn btn-default" type="button">수정</button>
						<button class="btn btn-default" type="button">삭제</button>
						<button class="btn btn-default" type="button">저장</button>
						<button class="btn btn-default" type="button">출력</button>
				</div>
		</div>				
		<div class="col-md-12 col-sm-6 col-xs-12 table-responsive" style="width:100%">
			<div class="x_panel">
				<div class="x_title">
					<form>
						<h5 style="color:black;">⊙ 검색 조건</h5>
							<div class="col-md-4 col-sm-12 col-xs-12">
							미사용 구분
								<input type="checkbox" name="yes">유
								<input type="checkbox" name="no">무
							<br>
							부서명 : 
								<input type="text" name="company">
								<button type="submit" class="btn" style="color:black" name="companyButton">검색</button>
							
							</div>
					</form>
				</div>
				<div class="x_content">
					<!-- 입력 폼 -->
					<form class="form-horizontal form-label-left">
						<table class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="datatable-responsive_info" style="width:100%;">
							<tr role="row">
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									부서코드
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="text" name="departmentCode" style="width:20%;" value="0010">
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									내부코드
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="text" name="internalCode" style="width:20%;" value="000010">
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									권한
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<select Name="level" style="width:40%;">
										<option value="1">대표이사</option>
									</select>
								</th>
							</tr>
							<tr role="row">
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									부서명
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="text" name="departmentName" style="width:40%;" value="대표이사">
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									약어명(1)
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="text" name="sortNameOne" style="width:40%;" value="대표이사">
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									약어명(2)
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="text" name="sortNameTwo" style="width:40%;" value="대표이사">
								</th>
							</tr>
							<tr role="row">
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									배부부문
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<select Name="handOutField" style="width:40%;">
										<option value="1">간접비 - 빌딩</option>
									</select>
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									M/H 부서
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<select Name="mhDepartment" style="width:40%;">
										<option value="1">미입력부서</option>
									</select>
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									회계단위
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<select Name="accountUnit" style="width:40%;">
										<option value="1">(주)에이치네트워크</option>
									</select>
									<input type="checkbox" name="hr">회계부서
								</th>
							</tr>
							<tr role="row">
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									해외근무
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="checkbox" name="overseasService">
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									미사용구분
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="checkbox" name="noUseSession">
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									미사용일자									
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="date" name="noUseDate" style="width:40%;">
								</th>
							</tr>
						</table>
					</form>
					<div class="x_title"></div><br>
					<!-- 회사 리스트 -->
					<div class="table-responsive">
							<table class="table table-striped jambo_table bulk_action table-responsive">
							   <thead>
								 <tr class="headings">
									<th>
									</th>
									<th class="column-title">부서코드</th>
									<th class="column-title">내부코드</th>
									<th class="column-title">내부순서코드</th>
									<th class="column-title">부서명</th>
									<th class="column-title">약어명</th>
									<th class="column-title">약어명(2)</th>
									<th class="column-title">조직구분</th>
									<th class="column-title">배부부문</th>
									<th class="column-title">회계단위</th>
									<th class="column-title">회계부서</th><!-- 체크박스 -->
									<th class="column-title">M/D부서</th>
									<th class="column-title">미사용유무</th><!-- 체크박스 -->                  
									<th class="column-title">미사용일자</th>
									</tr>
							 </thead>		
							   <tbody>
								  <tr class="even pointer" th:each="departmentList : ${departmentList}">
									<td></td>
									<td th:text="${departmentList.DEPT_CD}"></td><!-- 부서코드 -->
									<td th:text="${departmentList.SYS_COD}"></td><!-- 내부코드 -->
									<td th:text="${departmentList.SYS_COD2}"></td><!-- 내부순서코드 -->
									<td th:text="${departmentList.DEPT_NM}"></td><!-- 부서명 -->
									<td th:text="${departmentList.SHORT_NM}"></td><!-- 약어명 -->
									<td th:text="${departmentList.SHORT_NM1}"></td><!-- 약어명(2) -->
									<td th:text="${departmentList.LEVEL_GB}"></td><!-- 조직구분 (SELECT)--> 
									<td th:text="${departmentList.DIV_TYPE}"></td><!-- 배부부문 (SELECT)-->
									<td th:if="${departmentList.ACC_UNIT == '(주)이에이치네트웍스'}">(주)이에이치네트웍스</td><!-- 회계단위 (01)-->
									<td th:unless="${departmentList.ACC_UNIT == '(주)이에이치네트웍스'}"></td><!-- 회계단위 (else)-->
									<!-- 회계부서 / 체크박스 -->
									<td th:if="${departmentList.ACC_DEPT == '1'}" style="text-align: center">
										<input type="checkbox" name="accountDepartment" th:checked="${departmentList.ACC_DEPT}">
									</td>
									<td th:if="${departmentList.ACC_DEPT == '2'}" style="text-align: center">
											<input type="checkbox" name="accountDepartment">
									</td>
									<td th:if="${departmentList.DIV_ID == '입력부서'}">입력부서</td><!-- M/D부서 (10)-->
									<td th:if="${departmentList.DIV_ID == '미입력부서'}">미입력부서</td><!-- M/D부서 (20)-->
									<td th:if="${departmentList.DIV_ID == '1'}"></td><!-- M/D부서 (****)-->
									<!-- 미사용유무 / 체크박스 -->
									<td th:if="${departmentList.NOT_USE == '1'}" style="text-align: center">
										<input type="checkbox" name="noUseYN" th:checked="${departmentList.NOT_USE}">
									</td>
									<td th:if="${departmentList.NOT_USE == '2'}" style="text-align: center">
											<input type="checkbox" name="noUseYN">
									</td>
									<td th:text="${departmentList.NOTUSE_DATE}"></td><!-- 미사용일자 -->
								</tr>
							 </tbody>
						 </table>
					 </div>
			  </div>
			</div>
		  </div>
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
