<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>10.기준정보관리 - 4대보험 요율</title>

		<!-- Jquery, Ajax 선언 -->
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<!-- 월 급여 입력창 통화형식으로 변환 (자동콤마(,)처리) -->
		<script>
			function number_format(data) {
				let tmp = '';
				let number = '';
				let cutlen = 3;
				let comma = ',';
				let i;
				let sign = data.match(/^[\+\-]/);
				if(sign) {
						data = data.replace(/^[\+\-]/, "");
				}
				len = data.length;
				mod = (len % cutlen);
				k = cutlen - mod;
				for (i=0; i<data.length; i++)
				{
						number = number + data.charAt(i);
						if (i < data.length - 1)
						{
								k++;
								if ((k % cutlen) == 0)
								{
										number = number + comma;
										k = 0;
								}
						}
				}
				if(sign != null)
						number = sign+number;
				return number;
			}
			/* 국민 연금 월 급여 통화형식 변환 */
			$(function() {
					$("input#INSURE_PAY1").on("keyup", function() {
							let val = String(this.value.replace(/[^0-9]/g, ""));
							if(val.length < 1)
									return false;
							this.value = number_format(val);
					});
					$("input#INSURE_PAY2").on("keyup", function() {
							let val = String(this.value.replace(/[^0-9]/g, ""));
							if(val.length < 1)
									return false;
							this.value = number_format(val);
					});
			});
			/* 결과값 통화형식 변환 */
			function numberWithCommas(x) {
    		return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			}
			</script>

		<script>
		$(document).ready(function(){	
			$('#insureKukminCal').click(function(){
				let INSURE_PAY1 = $('#INSURE_PAY1').val();
				console.log('입력된 월 급여 : ' + INSURE_PAY1);
				$.ajax({
					url:'/baseInfo/fourInsureKukminProcess', 	//호출할 메소드 호출 
					type:'GET',																//송신 POST 방식
					data:{INSURE_PAY:INSURE_PAY1},
					success:function(data){
						console.log(data);											// 리턴받은 국민연금 계산값
						// 계산 값을 화면에 보여준다.
						$('#INSURE_TOTAL1').val(numberWithCommas(data.insure_TOTAL1));
						$('#INSURE_EMP_CAL1').val(numberWithCommas(data.insure_EMP_CAL1));
						$('#INSURE_COM_CAL1').val(numberWithCommas(data.insure_COM_CAL1));
					}
				});
			});
			$('#insureKeungangCal').click(function(){
				let INSURE_PAY2 = $('#INSURE_PAY2').val();
				console.log('입력된 월 급여 : ' + INSURE_PAY2);
				$.ajax({
					url:'/baseInfo/fourInsureKeungangProcess', 	//호출할 메소드 호출 
					type:'GET',																//송신 POST 방식
					data:{INSURE_PAY:INSURE_PAY2},
					success:function(data){
						console.log(data);											// 리턴받은 국민연금 계산값
						// 계산 값을 화면에 보여준다.
						$('#INSURE_TOTAL2').val(numberWithCommas(data.insure_TOTAL1));
						$('#INSURE_EMP_CAL2').val(numberWithCommas(data.insure_EMP_CAL1));
						$('#INSURE_COM_CAL2').val(numberWithCommas(data.insure_COM_CAL1));
						$('#INSURE_TOTAL3').val(numberWithCommas(data.insure_TOTAL2));
						$('#INSURE_EMP_CAL3').val(numberWithCommas(data.insure_EMP_CAL2));
						$('#INSURE_COM_CAL3').val(numberWithCommas(data.insure_COM_CAL2));
					}
				});
			});
		});
		</script>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	<th:block layout:fragment="customBody">
		<div class="page-title">
			<div class="col-md-12 col-xs-12" style="color:black;">
				<div class="page-title">
					<div class="title_left">
						<h2><b>4대보험 요율</b></h2>
						<h5><fontcolor="gray"><b>10.기준정보관리&nbsp;>&nbsp;&nbsp;10.2 회계관리</b></h5>
					</div>
				</div>
			</div>
		</div>
		<div class="x_content" style="text-align: right">
			<div class="btn-group" >
					<button class="btn btn-default" type="button">출력</button>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel" style="color: black;">
					<div class="x_content">

						<!-- Tab 설정 -->
						<div class="" data-example-id="togglable-tabs">
							<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
								<li role="presentation" class="active"><a href="#tab_content1" role="tab" data-toggle="tab">국민연금</a></li>
								<li role="presentation" class=""><a href="#tab_content2" role="tab" data-toggle="tab">건강보험</a></li>	
								<li role="presentation" class=""><a href="#tab_content3" role="tab" data-toggle="tab">고용보험</a></li>
								<li role="presentation" class=""><a href="#tab_content4" role="tab" data-toggle="tab">산재보험</a></li>
							</ul>

							<!-- Tab 내용 -->
							<div id="myTabContent" class="tab-content">
								<!-- 1. 국민연금 -->
								<div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab" style="color:black;">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="x_panel">
											<div class="x_content">
											<form>
												<h3 style="color:black;">⊙ 국민연금</h3>
												<h5 style="color:black;">2019년 기준 (계산내용은 모의계산이기 때문에 실제와 다를 수 있습니다.)</h5>
												<br>
													• 월 급여 
													<input style="text-align: end" type="text" name="INSURE_PAY1" id="INSURE_PAY1">
													<button type="button" class="btn" style="color:black" name="insureKukminCal" id="insureKukminCal">계산</button>
													<button type="reset" class="btn" style="color:black" name="clear">초기화</button>
												<br><br>
												<table style="width:70%; text-align: center"class="table table-bordered jambo_table bulk_action">
													<thead>
														<tr>
															<td>연금보험료(전체)</td>
															<td>근로자 부담금</td>
															<td>사업주 부담금</td>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>
																<input style="width:80%; text-align: end" type="text" name="INSURE_TOTAL1" id="INSURE_TOTAL1" readonly>원
															</td>
															<td>
																<input style="width:80%; text-align: end" type="text" name="INSURE_EMP_CAL1" id="INSURE_EMP_CAL1" readonly>원
															</td>
															<td>
																<input style="width:80%; text-align: end" type="text" name="INSURE_COM_CAL1" id="INSURE_COM_CAL1" readonly>원
															</td>
														</tr>
													</tbody>
												</table>
												<br>
												<table style="width:70%; text-align: center" class="table table-bordered jambo_table bulk_action">
													<thead>
														<tr>
															<td></td>
															<td>연금보험료(전체)</td>
															<td>근로자</td>
															<td>사업주</td>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td style="width:20%;">
																기준 소득월액
															</td>
															<td style="width:25%;">
																9%
															</td>
															<td style="width:25%;">
																4.5%
															</td>
															<td style="width:25%;">
																4.5%
															</td>
														</tr>
													</tbody>
												</table>
												<div style="color: red">
													&nbsp;&nbsp; • 총액 = 기준소득월액 X 9%(연금보험율)
												</div>
												<div>
													&nbsp;&nbsp; • 예) 기준소득월액은 최저 30만원에서 최고금액은 468만원까지의 범위로 결정하게 됩니다.<br>
													&nbsp;&nbsp;&nbsp;&nbsp; 따라서, 신고한 소득월액이 30만원보다 적으면 30만원을 기준소득월액으로 하고, <br>
													&nbsp;&nbsp;&nbsp;&nbsp; 468만원보다 많으면 468만원을 기준소득월액으로 합니다. (2018.7.1 기준)
												</div>
												<br>
													&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.4insure.or.kr/ins4/ptl/data/calc/InsuFeeMockCalcP.do" onclick="window.open(this.href, '_blanck', 'width=700, height=800'); return false">근로소득 각종 수당의 국민연금 소득 포함 여부</a>
											</form>																						
										</div>
									</div>
									</div>
								</div>
								<!-- 2. 건강보험 -->
								<div role="tabpanel" class="tab-pane fade in" id="tab_content2" aria-labelledby="tab">				
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="x_panel">
											<div class="x_content">
												<form>
													<h3 style="color:black;">⊙ 건강보험</h3>
													<h5 style="color:black;">2019년 기준 (계산내용은 모의계산이기 때문에 실제와 다를 수 있습니다.)</h5>
													<br>
														• 월 급여 
														<input style="text-align: end" type="text" name="INSURE_PAY2" id="INSURE_PAY2">
														<button type="button" class="btn" style="color:black" name="insureKeungangCal" id="insureKeungangCal">계산</button>
														<button type="reset" class="btn" style="color:black" name="clear">초기화</button>
													<br><br>
													<table style="width:70%; text-align: center"class="table table-bordered jambo_table bulk_action">
														<thead>
															<tr>
																<td>구분</td>
																<td>총액</td>
																<td>근로자 부담액</td>
																<td>사업주 부담금</td>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>건강보험료</td>
																<td>
																	<input style="width:80%; text-align: end" type="text" name="INSURE_TOTAL2" id="INSURE_TOTAL2" readonly>원
																</td>
																<td>
																	<input style="width:80%; text-align: end" type="text" name="INSURE_EMP_CAL2" id="INSURE_EMP_CAL2" readonly>원
																</td>
																<td>
																	<input style="width:80%; text-align: end" type="text" name="INSURE_COM_CAL2" id="INSURE_COM_CAL2" readonly>원
																</td>
															</tr>
															<tr>
																<td>장기요양보험료</td>
																<td>
																	<input style="width:80%; text-align: end" type="text" name="INSURE_TOTAL3" id="INSURE_TOTAL3" readonly>원
																</td>
																<td>
																	<input style="width:80%; text-align: end" type="text" name="INSURE_EMP_CAL3" id="INSURE_EMP_CAL3" readonly>원
																</td>
																<td>
																	<input style="width:80%; text-align: end" type="text" name="INSURE_COM_CAL3" id="INSURE_COM_CAL3" readonly>원
																</td>
															</tr>
														</tbody>
													</table>
													<br>
													<table style="width:70%; text-align: center" class="table table-bordered jambo_table bulk_action">
														<thead>
															<tr>
																<td>구분</td>
																<td>기준액</td>
																<td>보험로율</td>
																<td>근로자</td>
																<td>사업주</td>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td style="width:20%;">
																	건강보험료
																</td>
																<td style="width:20%;">
																	보수월액
																</td>
																<td style="width:20%;">
																	6.46%
																</td>
																<td style="width:20%;">
																	3.23%
																</td>
																<td style="width:20%;">
																	3.23%
																</td>
															</tr>
															<tr>
																<td style="width:20%;">
																	장기요양보험료
																</td>
																<td style="width:20%;">
																	건강보험료
																</td>
																<td style="width:20%;">
																	8.51%
																</td>
																<td style="width:20%;">
																	가입자 부담 50%
																</td>
																<td style="width:20%;">
																	사업주 부담 50%
																</td>
															</tr>
														</tbody>
													</table>
													<div>
														&nbsp;&nbsp; • 예) 보수월액이 1,000,000원일 때, 계산방법 <br>
														&nbsp;&nbsp;&nbsp;&nbsp; 건강보험료 : 1,000,000(보수월액) x 6.46%(건강보험료율) = 가입자 부담금 32,300원, 사업주 부담금 32,300원 <br>
														&nbsp;&nbsp;&nbsp;&nbsp; 장기요양보험료 : 64,600원(건강보험료) x 8.51%(장기요양보험료율) = 가입자 부담금 2,740원, 사업자 부담금 2,740원 <br>
													</div>
													<br>
													<div>
														&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://minwon.nhis.or.kr/menu/retriveMenuSet.xx?menuId=MENU_WBMAB01" onclick="window.open(this.href, '_blanck'); return false">건강보험료,노인장기요양보험료,부과기준(2013) 자세히 보기</a>
														&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://minwon.nhis.or.kr/menu/retriveMenuSet.xx?menuId=MENU_WBMAB02" onclick="window.open(this.href, '_blanck'); return false">보험료산정에 포함되는 소득의 범위?</a>
													</div>
													</form>	
											</div>																						
										</div>
									</div>
								</div>
								<!-- 3. 고용보험 -->
								<div role="tabpanel" class="tab-pane fade in" id="tab_content3" aria-labelledby="tab">				
									<div class="col-md-12 col-sm-6 col-xs-12">
										<div class="x_panel">
											<form>
												<h5 style="color:black;">⊙ 고용보험</h5>
											</form>																							
										</div>
									</div>
								</div>
								<!-- 4. 산재보험 -->
								<div role="tabpanel" class="tab-pane fade in" id="tab_content4" aria-labelledby="tab">				
									<div class="col-md-12 col-sm-6 col-xs-12">
										<div class="x_panel">
											<form>
												<h5 style="color:black;">⊙ 산재보험</h5>
											</form>																							
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
