<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart30.team03.kuntae.mapper.WorkTimeMapper">
	<!-- <select id="getRecordSingleList"
			resultType="ksmart30.team03.kuntae.domain.WorkTimeSingleList">
		SELECT 
			a.KOR_NM,
			a.EMP_NO,
			b.WORK_DT,
			b.START_TIME,
			b.END_TIME
		FROM 
			T_PM1010 AS b join T_HM1000 AS a 
		on b.EMP_NO=a.EMP_NO 
		WHERE a.EMP_NO='20190007' 
	</select> -->
	
	<!-- 출,퇴근 기록부(개인별) 사원번호 검색 -->
	<select id="getRecordSingleNoSearch"
			resultType="ksmart30.team03.kuntae.domain.WorkTimeSingleList"
			parameterType="String">
		SELECT 
			a.KOR_NM,
			a.EMP_NO,
			b.WORK_DT,
			b.START_TIME,
			b.END_TIME
		FROM 
			T_PM1010 AS b join T_HM1000 AS a 
		on b.EMP_NO=a.EMP_NO 
		WHERE a.EMP_NO=#{EMP_NO}
	</select>
	
	<!-- 이름검색 -->
	<select id="getRecordSingleNameSearch"
			resultType="ksmart30.team03.kuntae.domain.WorkTimeSingleList"
			parameterType="String">
		SELECT 
			a.KOR_NM,
			a.EMP_NO,
			b.WORK_DT,
			b.START_TIME,
			b.END_TIME
		FROM 
			T_PM1010 AS b join T_HM1000 AS a 
		on b.EMP_NO=a.EMP_NO 
		WHERE a.KOR_NM=#{KOR_NM}
	</select>
	
	<!-- 날짜 검색 -->
	<select id="getRecordSingleDateSearch"
			resultType="ksmart30.team03.kuntae.domain.WorkTimeSingleList"
			parameterType="String">
		<!-- SELECT 
			a.KOR_NM,
			a.EMP_NO,
			b.WORK_DT,
			b.END_DT,
			b.START_TIME,
			b.END_TIME
		FROM 
			T_PM1010 AS b join T_HM1000 AS a 
		on b.EMP_NO=a.EMP_NO 
		 WHERE b.WORK_DT ='20120305' AND b.END_DT='20120305'
		WHERE b.WORK_DT <![CDATA[>=]]> #{WORK_DT} and b.END_DT <![CDATA[<=]]> #{END_DT}; -->
		SELECT a.EMP_NO,
				 a.KOR_NM,
				 b.LEVEL2_NM AS JIKGUP_NM,
				 DEPT_NM,
				 e.WORK_DT,
				 e.START_TIME,
				(CASE WHEN e.END_TIME IS NULL THEN '시간미입력' when e.END_TIME= '' then '시간미입력' else e.END_TIME end) END_TIME,
				(CASE WHEN e.END_DT IS NULL THEN '퇴근미입력' when e.END_DT= '' then '퇴근미입력' else e.END_DT end) END_DT
		FROM T_HM1000 a 
		JOIN T_SC9100 b ON a.JIKGUP_CD=b.LEVEL2_CD
		JOIN T_SC9100 c ON a.JIKCHK_CD=c.LEVEL2_CD 
		JOIN T_SC1010 d ON a.DEPT_CD=d.DEPT_CD 
		JOIN T_PM1010 e ON a.EMP_NO=e.EMP_NO
	 WHERE b.LEVEL1_CD='110' AND c.LEVEL1_CD='120' AND e.WORK_DT <![CDATA[>=]]> #{WORK_DT} and e.END_DT <![CDATA[<=]]> #{END_DT}

	</select>
	
	<!-- 출,퇴근 기록부(Total) 사원번호 검색 -->
	<select id="getRecordTotalNoSearch"
			resultType="ksmart30.team03.kuntae.domain.WorkTimeSingleList"
			parameterType="String">
		SELECT a.EMP_NO,
				 a.KOR_NM,
				 b.LEVEL2_NM AS JIKGUP_NM,
				 DEPT_NM,
				 e.WORK_DT,
				 e.START_TIME,
				(CASE WHEN e.END_TIME=e.END_TIME THEN e.END_TIME else '퇴근미입력' END) END_TIME,
				(CASE WHEN e.END_DT IS NULL THEN '퇴근미입력' when e.END_DT= '' then '퇴근미입력' else e.END_DT end) END_DT
		FROM T_HM1000 a 
		JOIN T_SC9100 b ON a.JIKGUP_CD=b.LEVEL2_CD
		JOIN T_SC9100 c ON a.JIKCHK_CD=c.LEVEL2_CD 
		JOIN T_SC1010 d ON a.DEPT_CD=d.DEPT_CD 
		JOIN T_PM1010 e ON a.EMP_NO=e.EMP_NO
		WHERE b.LEVEL1_CD='110' AND c.LEVEL1_CD='120' AND a.EMP_NO=#{EMP_NO}
	</select>
	
	<!-- 출퇴근(Total) 당일출근 List -->
	<select id="getRecordTotalList"
			resultType="ksmart30.team03.kuntae.domain.WorkTimeSingleList">
		SELECT 
				 DEPT_NM,
				 b.LEVEL2_NM AS JIKGUP_NM,
				 a.EMP_NO,
				 a.KOR_NM,
				 e.WORK_DT,
				 e.START_TIME,
				(CASE WHEN e.END_TIME IS NULL THEN '퇴근전' when e.END_TIME= '' then '퇴근전' else e.END_TIME end) END_TIME,
				(CASE WHEN e.END_DT IS NULL THEN '퇴근전' when e.END_DT= '' then '퇴근전' else e.END_DT end) END_DT
		FROM T_HM1000 a 
		JOIN T_SC9100 b ON a.JIKGUP_CD=b.LEVEL2_CD
		JOIN T_SC9100 c ON a.JIKCHK_CD=c.LEVEL2_CD 
		JOIN T_SC1010 d ON a.DEPT_CD=d.DEPT_CD 
		JOIN T_PM1010 e ON a.EMP_NO=e.EMP_NO,
		(Select Convert(varchar(10),Getdate(),112) o) o 
		WHERE b.LEVEL1_CD='110' AND c.LEVEL1_CD='120' AND e.work_dt=o.o
	</select> 
	
	<!-- 출퇴근(Total) 전체 검색 -->
	<select id="getRecordTotalSearch"
			resultType="ksmart30.team03.kuntae.domain.WorkTimeSingleList"
			parameterType="String">
					SELECT a.EMP_NO,
				 a.KOR_NM,
				 b.LEVEL2_NM AS JIKGUP_NM,
				 DEPT_NM,
				 e.WORK_DT,
				 e.START_TIME,
				(CASE WHEN e.END_TIME IS NULL THEN '퇴근미입력' when e.END_TIME='' then '퇴근미입력' else e.END_TIME end) END_TIME,
				(CASE WHEN e.END_DT IS NULL THEN '퇴근미입력' when e.END_DT= '' then '퇴근미입력' else e.END_DT end) END_DT
		FROM T_HM1000 a 
			JOIN T_SC9100 b ON a.JIKGUP_CD=b.LEVEL2_CD
			JOIN T_SC9100 c ON a.JIKCHK_CD=c.LEVEL2_CD 
			JOIN T_SC1010 d ON a.DEPT_CD=d.DEPT_CD 
			JOIN T_PM1010 e ON a.EMP_NO=e.EMP_NO

		WHERE b.LEVEL1_CD='110' AND c.LEVEL1_CD='120'AND e.WORK_DT<![CDATA[>=]]> #{WORK_DT} AND e.END_DT<![CDATA[<=]]> #{END_DT} AND a.EMP_NO= #{EMP_NO}
	</select>
	

</mapper>
