<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>급여 대장</title>
	<th:block th:include="layout/customHead"></th:block>
</th:block>
<th:block layout:fragment="customBody">
	<div class="page-title">
		<div class="col-md-12 col-xs-12" style="color:black;">
			<div class="page-title">
				<div class="title_left">
					<h2><b>급여 대장</b></h2>
					<h5><fontcolor="gray"><b>6.인사 / 급여 &nbsp;>&nbsp;&nbsp;6.4 급여관리 &nbsp;>&nbsp;&nbsp;6.4.2 급여 대장</b></h5>
				</div>
			</div>
		</div>
	</div>
	<div class="x_content" style="text-align: right">
		<div class="btn-group" >
			<button class="btn btn-default" id ="btnWrite"type="reset">입력</button>
			<button class="btn btn-default" type="button">수정</button>
			<button class="btn btn-default" type="button">삭제</button>
			<button class="btn btn-default" type="button">출력</button>
		</div>
	</div>
	<div class="col-md-12 col-sm-6 col-xs-12 table-responsive" style="color:black;">
		<div class="x_panel" style="color:black;">
			<div class="x_title">
				<form>
					<h5>⊙ 검색 조건</h5>
						<div class="col-md-12 col-sm-12 col-xs-12">
						• 지급년도 &nbsp;&nbsp;
							<input type="month" name="SEARCH_DATE" style="width: 12%">
							&nbsp;&nbsp;&nbsp;
						• 부서코드 &nbsp;&nbsp;
							<input type="text" name="DEPT_CD_SEARCH">
							&nbsp;&nbsp;&nbsp;
						• 사원번호 &nbsp;&nbsp;
							<input type="text" name="EMP_NO_SEARCH">
							&nbsp;&nbsp;&nbsp;
							<button type="submit" class="btn" style="color:black" name="companyButton">검색</button>
						</div>
				</form>
			</div>
		</div>
		<div class="x_panel">
			<div class="x_content">
				<h5>⊙ 부서별, 월간 급여내역</h5>
				<div class="table-responsive" style="overflow: scroll; width: 100%; height: 450px; padding: 10px; background-color: white; color:black;">
						<table class="table table-bordered jambo_table bulk_action">
							<thead>
							<tr class="headings">
								<th></th>
								<th class="column-title">부서</th>
								<th class="column-title">사원번호</th>
								<th class="column-title">성명</th>
								<th class="column-title">급여구분</th>
								<th class="column-title">급여총액</th>
								<th class="column-title">비과세급여</th>
								<th class="column-title">과세급여</th>
								<th class="column-title">소득세</th>
								<th class="column-title">주민세</th>
								<th class="column-title">건강보험</th>
								<th class="column-title">국민보험</th>
								<th class="column-title">고용보험</th>               
								<th class="column-title">차감지급액</th>
								</tr>
						</thead>		
							<tbody id="personPayList">
								<tr th:each="personPayList : ${personPayList}">
									<td></td>
									<td th:text="${departmentList.DEPT_CD}"></td><!-- 부서 -->
									<td th:text="${departmentList.SYS_COD}"></td><!-- 사원번호 -->
									<td th:text="${departmentList.SYS_COD2}"></td><!-- 성명 -->
									<td th:text="${departmentList.DEPT_NM}"></td><!-- 급여구분 -->
									<td th:text="${departmentList.SHORT_NM}"></td><!-- 급여총액 -->
									<td th:text="${departmentList.SHORT_NM1}"></td><!-- 비과세급여 -->
									<td th:text="${departmentList.LEVEL_GB}"></td><!-- 과세급여 --> 
									<td th:text="${departmentList.DIV_TYPE}"></td><!-- 소득세 -->
									<td th:text="${departmentList.LEVEL_GB}"></td><!-- 주민세 --> 
									<td th:text="${departmentList.DIV_TYPE}"></td><!-- 건강보험 -->
									<td th:text="${departmentList.LEVEL_GB}"></td><!-- 국민보험 --> 
									<td th:text="${departmentList.DIV_TYPE}"></td><!-- 고용보험 -->
									<td th:text="${departmentList.LEVEL_GB}"></td><!-- 차감지급액 --> 
								</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		</div>

</th:block>
<th:block layout:fragment="customJquery">
<th:block th:include="layout/customJquery"></th:block>
</th:block>
</html>