<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>직원검색</title>
	<th:block th:include="layout/customHead"></th:block>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<head>
<script>
function detail(emp_NO){
	console.log('직원번호 '+emp_NO);
	$.ajax({
		url:'/person/personInsaEmployeeDetailView',
		type:'GET',
		data:{EMP_NO:emp_NO},
		success:function(data){
			console.log(data);
			emp_no = data.emp_NO;
			A = jikgup_NM.val();
			console.log("직원 디테일 : "+emp_no+"/"+A+"/"+data.jikchk_NM+"/"+data.in_PHONE_NO+"/"+data.audit_TM);
			/* $('#').append('<tr class="even pointer">');
			$('#').append('<td class="a-center "><input type="checkbox" class="flat" name="table_records"></td>');
			$('#').append('<td>'+emp_NO+'</td>');
			$('#').append('<td>'+kor_NM+'</td>');
			$('#').append('<td>'+jikgup_NM+'</td>');
			$('#').append('<td>'+jikchk_NM+'</td>');
			$('#').append('<td>'+in_PHONE_NO+'</td>');
			$('#').append('<td>'+audit_TM+'</td>');
			$('#').append('<td>'+phone_NO+'</td>');	
			$('#').append('<td>'+birth_DT+'</td>');
			$('#').append('<td>'+in_PHONE_NO+'</td>');
			$('#').append('<td>'+audit_TM+'</td>');
			$('#').append('<td>'+cur_ADDRESS+'</td>');	
			$('#').append('<td>'+mail_ADDRESS+'</td>');
		
			$('#').append('</tr>');	 */
			
		}
		
	});
	
}

$(document).ready(function(){
	 console.log('직원list 출력해보자');	
	//검색버튼 클릭 시 전체 직원조회
	 $("#btn_list").click(function(){
		 console.log('직원list 출력해보자2');	
			$.ajax({
				url:'/person/personInsaEmployeeView',
				type:'GET',
				success:(data)=>{
					$(data).each(function(index,item){
						//한 행을 클릭시 사원번호
						$('#list').append('<tr class="even pointer">');
						$('#list').append('<td class="a-center "><input type="checkbox" class="flat" name="table_records"></td>');
						$('#list').append('<td onclick="detail('+item.emp_NO+')">'+item.sort_VALUE+'</td>');
						$('#list').append('<td onclick="detail('+item.emp_NO+')">'+item.dept_NM+'</td>');
						$('#list').append('<td onclick="detail('+item.emp_NO+')">'+item.emp_NO+'</td>');
						$('#list').append('<td onclick="detail('+item.emp_NO+')">'+item.kor_NM+'</td>');
						$('#list').append('<td onclick="detail('+item.emp_NO+')">'+item.jikgup_NM+'</td>');
						$('#list').append('<td onclick="detail('+item.emp_NO+')">'+item.jikchk_NM+'</td>');
						$('#list').append('<td onclick="detail('+item.emp_NO+')">'+item.in_PHONE_NO+'</td>');		
						$('#list').append('</tr>');	
					
						
					});
				}					
		 }); 				
	 });
	
	/* //각 행 클릭시 상세정보 출력
	 $("#list").on('click',function(){
		let tr = $(this);
		console.log("row : "+tr.text());
		let td = tr.children();
		let emp_no = td.eq(2).text();
		console.log("row emp_no : "+emp_no);				 		 
	 });
 	//상세정보 출력 끝!	 */
	
 
});


</script>
</head>
</th:block>
<th:block layout:fragment="customBody">
<font color="black">

	<div class="page-title">
				<div class="title_left">
					
					<h2><b>직원검색</b></h2>
					<h5><font color="gray"><b>6.인사/급여&nbsp;>&nbsp;&nbsp;6.1인력관리</b></font></h5>
					
				</div>
			</div>

	<!-- 내꺼 -->
	<div class="col-md-12 col-xs-12">
		<div class="x_panel">
			<div class="title_left">
				<h3>직원 검색</h3>
			</div>
			<div class="col-md-12 col-xs-12" style="color: black;"></div>
			<!----------------------------------- 조건별검색(부장님)----------------------------------------- -->

			<div class="col-md-12 col-xs-12">
				<form class="form-horizontal form-label-left input_mask">
					<table id="datatable-responsive"
						class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed"
						role="grid" aria-describedby="datatable-responsive_info"
						style="width: 100%;">
						<tr role="row">
							<th class="sorting_asc" tabindex="0"
								aria-controls="datatable-responsive" rowspan="1" colspan="1"
								style="width: 65%;" aria-sort="ascending"
								aria-label="First name: activate to sort column descending">
								<label class="control-label">검색조건</label>
							</th>

						</tr>
						<tr role="row">
							<th class="sorting_asc" tabindex="0"
								aria-controls="datatable-responsive" rowspan="1" colspan="1"
								style="width: 100%;" aria-sort="ascending"
								aria-label="First name: activate to sort column descending">
								<label class="control-label"
								style="padding-left: 10px; padding-right: 40px;">입사일자</label> <input
								type="date" style="width: 16%"> <label
								class="control-label">-</label> <input type="date"
								style="width: 17%"> <label class="control-label"
								style="padding-left: 35px; padding-right: 40px;">직급</label> <input
								type="text" style="width: 18%;"> <label
								class="control-label">-</label> <input type="text"
								style="width: 18%">
							</th>

						</tr>
						<tr role="row">
							<th class="sorting_asc" tabindex="0"
								aria-controls="datatable-responsive" rowspan="1" colspan="1"
								style="width: 65%;" aria-sort="ascending"
								aria-label="First name: activate to sort column descending">
								<label class="control-label"
								style="padding-left: 35px; padding-right: 40px;">직책</label> <input
								type="text" style="width: 15%">
								<button>
									<i class="fa fa-search"></i>
								</button> - <input type="text" style="width: 15%">
								<button><i class="fa fa-search"></i></button> 
								<label class="control-label" style="padding-left: 20px; padding-right: 14px;">프로젝트</label>
								<input type="text" style="width: 15%">
								<button>
									<i class="fa fa-search"></i>
								</button> <label class="control-label">-</label> <input type="text"
								style="width: 15%">
								<button>
									<i class="fa fa-search"></i>
								</button>
							</th>

						</tr>
						<tr role="row">
							<th class="sorting_asc" tabindex="0"
								aria-controls="datatable-responsive" rowspan="1" colspan="1"
								style="width: 17%;" aria-sort="ascending"
								aria-label="First name: activate to sort column descending">
								<label class="control-label">전표일자</label> <input type="text"
								style="width: 18"> - <input type="text"
								style="width: 18%"> <label class="control-label"
								style="padding-left: 15px; padding-right: 40px;">금액</label> <input
								type="text" style="width: 18%"> - <input type="text"
								style="width: 18%">
							</th>

						</tr>
						<tr role="row">
							<th class="sorting_asc" tabindex="0"
								aria-controls="datatable-responsive" rowspan="1" colspan="1"
								style="width: 17%;" aria-sort="ascending"
								aria-label="First name: activate to sort column descending">
								<label class="control-label">계정과목</label> <input type="text"
								style="width: 18"> - <input type="text"
								style="width: 18%"> <label class="control-label"
								style="padding-left: 15px; padding-right: 27px;">거래처</label> <input
								type="text" style="width: 18%"> - <input type="text"
								style="width: 18%">
							</th>

						</tr>
						<div class="x_content" style="text-align: right">
							<button type="button" class="btn" style="color:black" id="btn_list">검색</button>
						</div>

					</table>
				</form>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>직원 List</h2>
				<div class="clearfix"></div>
			</div>

			<div class="x_content">
				<div class="table-responsive">
					<div style="overflow: scroll; width: 100%; height: 650px; padding: 10px; background-color:;">
						<table class="table table-striped jambo_table bulk_action">
							<thead>
								<tr class="headings">
									<th><input type="checkbox" id="check-all" class="flat">
									</th>
									<th class="column-title">순번</th>
									<th class="column-title">부서명</th>
									<th class="column-title">사원번호</th>
									<th class="column-title">사원명</th>
									<th class="column-title">직급</th>
									<th class="column-title">직책</th>	
									<th class="column-title">사내번호</th>	
									<th class="bulk-actions" colspan="7"><a class="antoo"
										style="color: #fff; font-weight: 500;">전체 선택<i class="fa fa-chevron-down"></i></a> 
									</th>
								</tr>
							</thead>
							<tbody id="list" style="font-size: 14px; line-height: 25px">
								<!--직원 LIST -->
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>
	</div>
	</font>
	<!-- /page content -->
</th:block>
<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>
</html>
